.homepage {
  background-color: #281043;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .banner {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: lighten;
    opacity: 0.05;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
}
