.homepage {
  background-color: #281043;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .banner {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: lighten;
    opacity: 0.05;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }

  form {
    z-index: 2;
    max-width: 600px;

    h2 {
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 1.2;
      text-align: center;
      color: #fdb911;
    }

    input {
      background: #ffffff;
      opacity: 0.5;
      border-radius: 5px;
      min-width: 360px;
      display: block;
      border: 0;
      padding: 0.75rem 1rem;
      margin: 2rem 0;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }

    a {
      font-weight: 300;
      font-size: 1rem;
      display: block;
      color: #fff;
      text-align: right;

      &.center {
        text-align: center;
        color: #fdb911;
        text-decoration: none;
      }
    }

    button {
      background-color: #fdb911;
      border-radius: 5px;
      min-width: 320px;
      display: block;
      border: 0;
      padding: 0.75rem 1rem;
      margin: 2rem auto 1rem auto;
      color: #281043;
      font-weight: 700;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
