@charset "UTF-8";
@import "vendor/normalize";
body {
    background-color: #281043;
    font-family: Nunito, sans-serif;
    font-size: 16px;
}

.wrapper{
    padding-top: 70.5px;
}

nav {
    padding: .5rem 50px;
    box-sizing: border-box;
    background-color: #441975;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99;
    .searchbar {
        display: flex;
        align-items: center;
        input {
            margin-left: 1rem;
            background-color: transparent;
            border-radius: 5px;
            border: none;
            color: #fff;
        }
        svg {
            fill: #fff;
        }
    }
    .links {
        padding: 0;
        display: flex;
        list-style: none;
        a {
            margin-left: 50px;
            font-weight: 300;
            color: #fff;
            text-decoration: none;
            &.active {
                color: #fdb911;
            }
        }
    }
}

.white {
    color: white;
}

.button {
    color: #fdb911;
    padding: 10px 20px;
    margin: 0;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    .fai {
        margin-left: 10px;
    }
}

.button.large {
    width: 100%;
    text-align: center;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button.full {
    color: #281043;
    background-color: #fdb911;
    border-radius: 5px;
}

.button.right {
    position: absolute;
    right: 0;
}

.button:hover {
    opacity: .8;
}