.tournament-page {
    padding: 0 50px;
    padding-top: 90px;
    background-color: #281043;
    min-height: calc(100vh - 90px);
    .title {
        position: relative;
        h2 {
            display: inline;
            color: #fdb911;
            line-height: 40px;
        }
    }
    .item-container {
        margin-top: 20px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, calc(25% - 20px));
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        .item {
            background-color: #1c0b30;
            min-height: 250px;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            text-decoration: none;
            .image-fader {
                display: block;
                width: 100%;
                height: 150px;
                background: linear-gradient(0deg, #1c0b30 0%, rgba(28, 11, 48, 0) 50%);
                position: absolute;
                p {
                    position: absolute;
                    bottom: 0px;
                    left: 15px;
                    font-size: 14px;
                    font-weight: 100;
                }
            }
            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
            .item-content {
                padding: 0 20px 20px 20px;
                color: white;
                h3 {
                    margin: 10px 0;
                }
                p {
                    font-size: 16px;
                    margin: 10px 0;
                    font-weight: 100;
                    font-weight: lighter;
                    .fai {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.tournament-detail {
    padding-top: 20px;
    background-color: #281043;
    min-height: calc(100vh - 90px);
    .header {
        padding-top: 48px;
        margin-bottom: -5px;
        img {
            height: 300px;
            width: 100%;
            object-fit: cover;
            margin: 0;
            padding: 0;
        }
    }
    .container {
        padding: 0 50px;
        padding-top: 20px;
        width: 70%;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .info,
        .participants,
        .rules {
            margin-bottom: 40px;
        }
        .title {
            position: relative;
            h2 {
                display: inline;
                color: #fdb911;
                line-height: 40px;
            }
        }
    }
    .registerForm {
        width: 30%;
        display: inline-block;
        float: right;
        // background-color: #1c0b30;
        // -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
        // -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
        // box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
        padding: 0 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: white;
        .shadow {
            margin-top: 20px;
            background-color: rgba(0, 0, 0, .2);
            padding: 20px;
            border-radius: 5px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            p {
                margin-top: 0;
            }
            h3 {
                font-size: 30px;
                text-align: center;
                margin: 5px;
                margin-top: 20px;
            }
            .button {
                margin-top: 20px;
            }
        }
    }
    .participants {
        div {
            margin: 10px 0;
            background-color: rgba(0, 0, 0, .2);
            color: white;
            padding: 10px 15px;
            border-radius: 5px;
        }
    }
    .borrar {
        margin-left: 50px;
    }
    .bracketContainer {
        background-color: rgba(0, 0, 0, .2);
        width: calc(100% - 100px);
        height: 90vh;
        padding: 20px;
        margin: 0 auto;
        overflow: scroll;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: flex;
        border-radius: 5px;
        .bracket-col {
            width: 250px;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            div:hover p {
                background-color: #441975;
                z-index: 2;
                cursor: pointer;
            }
            div {
                border-radius: 5px;
                color: white;
                padding: 0;
                margin: 0 20px;
                height: 100%;
                display: flex;
                flex-direction: row;
                position: relative;
                p {
                    align-self: center;
                    background-color: #1A0A2B;
                    padding: 10px 15px;
                    margin: 0;
                    width: 100%;
                    border-radius: 5px;
                }
            }
            div:nth-child(2n) {
                .detail {
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    bottom: 50%;
                    right: 0;
                    background-color: #1A0A2B;
                    span {
                        width: 43px;
                        height: 3px;
                        background-color: #1A0A2B;
                        position: absolute;
                        bottom: 50%;
                    }
                }
            }
        }
    }
}

.tournament-new {
    padding: 0 150px;
    padding-top: 90px;
    background-color: #281043;
    min-height: calc(100vh - 90px);
    form {
        margin-bottom: 40px;
    }
    .title {
        position: relative;
        h2 {
            display: inline;
            color: #fdb911;
            line-height: 40px;
        }
    }
    form {
        max-width: none;
    }
    input,
    textarea {
        width: 100%;
        min-width: 100%;
    }
    select {
        width: 100%;
        min-width: 100%;
        padding: 0;
        margin: 0;
        height: 50px;
    }
    button {
        width: 70%;
        min-width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .grid {
        margin-top: 20px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, calc(50% - 20px));
        grid-template-rows: repeat(1, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        .special {
            margin: 0 !important;
            width: 100%;
        }
    }
}